.terraform/
*.tfstate
*.tfstate.*
# .terraform.lock.hcl

# 제외항목
정리자료/
api.txt
gstack/
__pycache__/

# Ignore claude file
# /.claude
# /.agents
# skills-lock.json

# Ignore Terraform variable definitions
terraform.tfvars   
*.tfvars